body,
div,
ul,
ol,
dt,
dd,
dl,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
textarea,
p,
img,
a,
span,
strong,
* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 12px;
	font-family: "microsoft yahei";
	color: #000000;
	background-color: #efefef;
}

ul,
ol,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 14px;
}

img,
input,
select,
textarea {
	vertical-align: middle;
	outline: none;
}

img {
	border: none;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.clear {
	clear: both;
	height: 0;
	width: 0;
	overflow: hidden;
}

.wrap {
	width: 750px;
	height: auto;
	padding: 20px 0;
	box-sizing: border-box;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
	box-sizing: border-box;
}

.top div {
	display: flex;
	align-items: center;
}

.top div:last-child {
	gap: 20px;
}

.top div a {
	display: flex;
	height: 35px;
}

.top div a img {
	height: 100%;
}

.tx {
	width: 100%;
	margin: 40px 0;
	padding: 0 25px;
	box-sizing: border-box;
}

.tx dl {
	display: flex;
	height: 150px;
	align-items: center;

}

.tx dl dt {
	height: 100%;
	margin-right: 20px;
}

.tx dl dt img {
	height: 100%;
	border: 50%;
	width: 150px;
}

.tx dl dd {
	font-size: 26px;
	color: #999;
}

.tx dl dd h1 {
	font-size: 38px;
	letter-spacing: 5px;
	color: #000;
}

.btn {
	width: 100%;
	padding: 0 25px;
	box-sizing: border-box;
}

.btn button {
	width: 100%;
	height: 70px;
	background-color: #06c263;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 24px;
}

.menu {
	width: 100%;
	padding: 0 25px;
	box-sizing: border-box;
}

.menu {
	display: flex;
	align-items: center;
	gap: 20px;
	margin: 40px 0;
}

.menu li {
	padding: 0 3px;
	padding-bottom: 5px;

}

.menu li a {
	font-size: 24px;
}

.menu li a img {
	height: 20px;
}

.menu li:first-child {
	border-bottom: 2px solid #000;
}

.main {
	background-color: #fafafa;
	width: 100%;
	padding: 15px 25px;
	box-sizing: border-box;

}

.card {
	width: 100%;
	background-color: #fff;
	font-size: 26px;
	padding: 30px;
	box-sizing: border-box;
	margin-bottom: 15px;

}

.card dl dd h2 {
	font-size: 26px;
	line-height: 1.5em;
}

.card dl dd p {
	color: #ccc;
	margin-top: 15px;
}

.cardTime {
	color: #ccc;
	margin-bottom: 48px;
}

.card dl {
	display: flex;
	justify-content: space-between;
}

.card dl dt {
	width: 125px;
}

.card dl dt img {
	width: 100%;
	height: 120px;
	border-radius: 5px;
}

.card dl dd {
	flex: 1;
	margin-right: 20px;
}

.wechat {
	width: 750px;
	padding: 0 25px;
	box-sizing: border-box;
	position: fixed;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 15px 2px rgba(0, 0, 0, .3);
	top: -100px;
	/* 初始位置在可视区域上方 */
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	z-index: 1000;
}

.wechat.active {
	top: 20px;
	opacity: 1;
}

.wechat.hide {
	top: -100px;
	opacity: 0;
}

.wechatContent {
	width: 100%;
	background-color: #fff;

	padding: 30px 20px;
	display: flex;
	justify-content: space-between;
	align-items: start;
	box-sizing: border-box;
}

.wechatContent dl {
	display: flex;
	align-items: center;
}

.wechatContent dl dt {
	width: 50px;
}

.wechatContent dl dt img {
	width: 100%;
}

.wechatContent dl dd {
	font-size: 25px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 20px;
}

.meg {
	color: #999;
}

.wechatTime {
	font-size: 25px;
	color: #999;
}